/pruebatecnica/.phpunit.cache
/pruebatecnica/node_modules
/pruebatecnica/public/build
/pruebatecnica/public/hot
/pruebatecnica/public/storage
/pruebatecnica/storage/*.key
/pruebatecnica/vendor
/pruebatecnica.env
/pruebatecnica.env.backup
/pruebatecnica.env.production
/pruebatecnica.phpunit.result.cache
/pruebatecnicaHomestead.json
/pruebatecnicaHomestead.yaml
/pruebatecnicaauth.json
/pruebatecnicanpm-debug.log
/pruebatecnicayarn-error.log
/pruebatecnica/.fleet
/pruebatecnica/.idea
/pruebatecnica/.vscode
/frontpruebatecnica/node_modules

